/* Styles for the quiz */

h1 {
    font-family: Sans-serif;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Sans-serif;
    font-size: 18px;
}

#firstPicture, #nextPicture {
    width: 250px;
}

#lastPicture {
    width: 350px;
}

.thanks p {
    color: green;
}

.thanks img {
    border-style: solid;
    border-width: 4px;
    border-color: Blue;    
}

.left-side {
    float: left;
}

.right-side {
    margin-left: 520px;
}

.start-again {
    font-size: 12px;
    border-style: solid;
    border-color: Green;
}
