/* Code for the quiz - the styles. Written in CSS language. */

h1 {
    font-family: Sans-serif;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Sans-serif;
    font-size: 18px;
}

.right-side {
    float: right;
}

.start-again {
    width: 100px;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: Green;
}

.button {
    width: 100px;
    float: left;
    padding: 5px;
    margin: 5px;

    color: White;
    font-weight: bold;
    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: DimGrey;
}

.button.true {
    background-color: MediumPurple;
}

.button.false {
    background-color: LimeGreen;
}

.button.selected {
    border-width: 5px;
    margin: 1px;
}

.button.submit {
    color: inherit;
}

.after-buttons {
    clear: left;
    padding-top: 10px;
}
